<div id="list">
    <form ng-submit="CreateUser()">
        <p>First Name: </p>
        <input type="text" ng-model="newUser.firstname">
        <br />
        <p>Last Name: </p> 
        <input type="text" ng-model="newUser.lastname">
        <br />
        <p>Email: </p>
        <input type="email" ng-model="newUser.email">
        <br />
        <p>Password: </p>
        <input type="text" ng-model="newUser.password">
        <br />
        <input type="submit" value="Create">
    </form>
</div>